@using Blazored.Modal
@using Blazored.Modal.Services

<div class="simple-form extras">
    <EditForm Model="Folder">
        <InputText @bind-Value="Folder.FolderName" class="form-control" />
    </EditForm>
    <br />
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
    <button @onclick="SubmitForm" class="btn btn-primary float-end">Okay</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public StrongFolder Folder { get; set; } = new StrongFolder();

    void SubmitForm()
    {
        BlazoredModal.CloseAsync(ModalResult.Ok(Folder));
    }

    void Cancel()
    {
        BlazoredModal.CancelAsync();
    }
}