@using Blazored.Modal
@using Blazored.Modal.Services

<div style="max-height: 600px; overflow-y: auto">
    <Virtualize ItemsProvider="LoadExerciseHistory" Context="exerciseHistory">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@exerciseHistory.WorkoutName</h5>
                <p class="card-text">@exerciseHistory.Date.ToLongDateString()</p>
                <ul style="padding-left: 0">
                    <li style="display: block"><strong>Sets Performed</strong></li>
                    @foreach (var set in exerciseHistory.Sets)
                    {
                        <li style="display: block">
                            <span>@set.SetOrder</span>&nbsp; 
                            <FormatSet Set="set" Category="ExerciseCategory" />
                            @if (set.HasWeightPr)
                            {
                                <span>[WEIGHT]</span>
                            }
                            @if (set.HasDurationPr)
                            {
                                <span>[DURATION]</span>
                            }
                            @if (set.HasRepsPr)
                            {
                                <span>[REPS]</span>
                            }
                            @if (set.HasDistancePr)
                            {
                                <span>[DISTANCE]</span>
                            }
                            @if (set.HasVolumePr)
                            {
                                <span>[VOLUME]</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <br />
    </Virtualize>
</div>

@code {

    [Parameter]
    public string ExerciseName { get; set; }

    [Parameter]
    public StrongExerciseCategory ExerciseCategory { get; set; }

    [Inject]
    public IExerciseService ExerciseService { get; set; } = default!;

    public async ValueTask<ItemsProviderResult<StrongExerciseDataHistory>> LoadExerciseHistory(ItemsProviderRequest request)
    {
        var result = await ExerciseService.GetHistory(ExerciseName, request.StartIndex, request.Count, request.CancellationToken);
        return new ItemsProviderResult<StrongExerciseDataHistory>(result.Items, result.TotalItemCount);
    }
}