@using Blazored.Modal
@using Blazored.Modal.Services

<div style="max-height: 600px; overflow-y: auto">
    @foreach (var workout in Workouts)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@workout.WorkoutName</h5>
                <p class="card-text">@workout.Date.ToLongDateString()</p>
                <ul style="padding-left: 0">
                    <li style="display: block"><strong>Sets Performed</strong></li>
                    @foreach (var set in workout.ExerciseData.First(x => x.ExerciseName == ExerciseName).Sets)
                    {
                        <li style="display: block">
                            <span>@set.SetOrder</span>&nbsp; 
                            <FormatSet Set="set" Category="workout.ExerciseData.First(x => x.ExerciseName == ExerciseName).Category" />
                            @if (set.HasWeightPr)
                            {
                                <span>[WEIGHT]</span>
                            }
                            @if (set.HasDurationPr)
                            {
                                <span>[DURATION]</span>
                            }
                            @if (set.HasRepsPr)
                            {
                                <span>[REPS]</span>
                            }
                            @if (set.HasDistancePr)
                            {
                                <span>[DISTANCE]</span>
                            }
                            @if (set.HasVolumePr)
                            {
                                <span>[VOLUME]</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <br />
    }
</div>

@code {

    [Parameter]
    public string ExerciseName { get; set; }

    [Parameter]
    public List<StrongWorkout> Workouts { get; set; }
}