@using Blazored.Modal
@using Blazored.Modal.Services
@using Blazorise
<div style="min-height: 700px">
    <Tabs FullWidth SelectedTab="@(ActiveTab != null ? ActiveTab : "coffee")" SelectedTabChanged="@OnSelectedTabChanged">
        <Items>
            <Tab Name="about">About</Tab>
            <Tab Name="history">History</Tab>
            <Tab Name="charts">Charts</Tab>
            <Tab Name="records">Records</Tab>
        </Items>
        <Content>
            <TabPanel Name="about">
            </TabPanel>
            <TabPanel Name="history">
                <ExerciseHistory ExerciseName="@ExerciseName" ExerciseCategory="@ExerciseCategory" />
            </TabPanel>
            <TabPanel Name="charts">
            </TabPanel>
            <TabPanel Name="records">
            </TabPanel>
        </Content>
    </Tabs> 
</div>

@code {

    public string ActiveTab { get; set; }

    [Parameter]
    public string ExerciseName { get; set; }

    [Parameter]
    public StrongExerciseCategory ExerciseCategory { get; set; }

    [Inject]
    public IExerciseService ExerciseService { get; set; } = default!;

    private void OnSelectedTabChanged(string name)
    {
        ActiveTab = name;
    }
}