@page "/measure"

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Measurements</h1>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>
                                <div class="float-end">
                                    @if (MostRecentWeightMeasurement != null)
                                    {
                                        <span>@MostRecentWeightMeasurement.Value kg &nbsp;</span>
                                    }
                                    <button @onclick="@(() => ShowMeasurementHistoryModal("Weight"))" class="btn btn-primary btn-sm"><i class="fas fa-list" /></button>
                                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus" /></button>
                                </div>
                                Weight
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="float-end">
                                    <buttonn @onclick="@(() => ShowMeasurementHistoryModal("Body Fat"))" class="btn btn-primary btn-sm"><i class="fas fa-list" /></buttonn>
                                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"/></button>
                                </div>
                                Body Fat
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="float-end">
                                    <button @onclick="@(() => ShowMeasurementHistoryModal("Caloric Intake"))" class="btn btn-primary btn-sm"><i class="fas fa-list" /></button>
                                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus" /></button>
                                </div>
                                Caloric Intake
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
