<div style="max-height: 600px; overflow-y: auto; margin: 20px">
    <Virtualize ItemsProvider="LoadExerciseHistory" Context="exerciseHistory">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@exerciseHistory.WorkoutName</h5>
                <p class="card-text">@exerciseHistory.Date.ToLongDateString()</p>
                <ul style="padding-left: 0">
                    <li style="display: block"><strong>Sets Performed</strong></li>
                    @foreach (var set in exerciseHistory.Sets)
                    {
                        <li style="display: block">
                            <span>@set.SetOrder</span>&nbsp;
                            <FormatSet Set="set" Category="ExerciseCategory" />
                            @if (set.HasWeightPr)
                            {
                                <span>&nbsp;</span>
                                <span class="badge badge-success">WEIGHT</span>
                            }
                            @if (set.HasDurationPr)
                            {
                                <span>&nbsp;</span>
                                <span class="badge badge-success">DURATION</span>
                            }
                            @if (set.HasRepsPr)
                            {
                                <span>&nbsp;</span>
                                <span class="badge badge-success">REPS</span>
                            }
                            @if (set.HasDistancePr)
                            {
                                <span>&nbsp;</span>
                                <span class="badge badge-success">DISTANCE</span>
                            }
                            @if (set.HasVolumePr)
                            {
                                <span>&nbsp;</span>
                                <span class="badge badge-success">VOLUME</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <br />
    </Virtualize>
</div>