<div class="row">
    <div class="col-md-6">
        <h5>Quick Start</h5>
        <a href="@("/workouts/edit")" class="btn btn-primary btn-sm" style="width: 100%">Start an Empty Workout</a>
    </div>
</div>