<div style="margin-bottom: 20px;">
    <div class="float-end">
        <button type="button" @onclick="Remove" class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i>
        </button>
    </div>
    <h5>@Title</h5>
    @ChildContent
</div>